@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">StandBy, muito obrigado por esta oportunidade!</h1>
    <p>Para mais informações,<a href="https://github.com/brunoco56"> segue meu github</a>.</p>
</div>
